/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
/* *{
  margin: 0;
  padding: 0;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: "Noto Serif", serif;
}

p {
  font-size: 22px;
}

.auto-width {
  max-width: 1140px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.text-description {
  font-size: 22px;
  color: #000000;
  opacity: 50%;
  margin-bottom: 0;
}

.section-margin {
  margin-top: 100px;
}

.section-head {
  max-width: 888px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.section-heading {
  font-size: 50px;
  color: #000000;
  font-weight: 700;
}

.section-heading-span {
  color: #e95a08;
}

@media screen and (max-width: 576px) {
  .text-description {
    font-size: 14px;
  }
  .section-head {
    margin-bottom: 30px;
  }
  .section-heading {
    font-size: 24px;
  }
  .section-margin {
    margin-top: 50px;
  }
}

/* Header Area Style */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.logo img {
  width: 135px;
  height: 82px;
}

nav ul li {
  list-style: none;
  margin-left: 45px;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #8987a1;
  font-weight: 500;
}

nav ul li a.active {
  color: #252432;
}

.banner-area {
  height: 460px;
  align-items: flex-end;
}

.banner-text,
.banner-image {
  flex: 1;
}

.banner-header {
  font-size: 65px;
  color: #000000;
  font-weight: 700;
}
.banner-span {
  color: #e95a08;
}

.banner-image img {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .logo img {
    width: 63px;
    height: 38px;
  }
  nav ul li:nth-child(1),
  nav ul li:nth-child(2),
  nav ul li:nth-child(3) {
    display: none;
  }
  .banner-area {
    flex-direction: column-reverse;
    height: auto;
    gap: 30px;
  }
  .banner-header {
    font-size: 24px;
  }
}

/* Our Plants Css Start */
.plants-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 20px;
}

.single-plants img {
  width: 100%;
}

.plant-title {
  color: #111111;
  font-weight: 500;
  margin-bottom: 0;
}

.plant-price {
  color: #111111;
  font-weight: 600;
  margin-top: 5px;
}

.plant-button {
  padding: 12px 20px;
  width: 100%;
  background-color: #e95a08;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .plants-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .single-plants {
    max-width: 200px;
  }
  .plant-title {
    font-size: 16px;
  }
  .plant-price {
    font-size: 16px;
  }
  .plant-button {
    font-size: 14px;
  }
}

/* Plant Lover Ares Css Start */
.plant-lover {
  align-items: center;
  gap: 60px;
}

.plant-lover-image {
  position: relative;
}

.plant-lover-image img {
  max-width: 100%;
}

.plant-lover-image,
.plant-lover-text {
  flex: 1;
}

.badge {
  position: absolute;
  top: -125px;
  right: -100px;
}

.badge img {
  width: 285px;
  height: 285px;
}

.plant-lover-text ul li {
  color: #a1a1a1;
}

@media screen and (max-width: 576px) {
  .plant-lover {
    flex-direction: column;
    gap: 30px;
  }
  .badge {
    display: none;
  }
}

/* Join Area Css Start */
.join-area {
  background-image: url(../images/news-letter-bg.png);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.join-content {
  width: 830px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

.join-content .section-heading {
  color: #fff;
  margin-bottom: 20px;
}

.join-content form {
  position: relative;
}

.join-content input {
  width: 100%;
  padding: 15px 20px;
  font-size: 16px;
  outline: 0;
  border: none;
  position: relative;
}

.join-btn {
  padding: 15px 50px;
  background-color: #e95a08;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  top: 0;
  right: -40px;
}

@media screen and (max-width: 576px) {
  .join-area{
    height: 300px;
  }
  .join-content {
    max-width: 350px;
  }
  .join-content input {
    max-width: 310px;
  }
  .join-btn {
    padding: 15px 15px;
    right: 0;
  }
}

/* Footer Area Css Start */
.footer-area{
  background-color: #fff;
  padding: 50px 0;
}

.footer-content > div{
  flex: 1;
}

.footer-content{
  display: flex;
  justify-content: center;
  gap: 40px;
  /* grid-template-columns: repeat(4, 1fr); */
}

.footer-area ul{
  padding: 0;
}

.footer-area ul li{
  list-style: none;
  margin-bottom: 30px;
}

.footer-area ul li a{
  text-decoration: none;
  font-size: 22px;
  color: #6B7280;
}

.footer-area img{
  margin-right: 20px;
}

@media screen and (max-width: 576px) {
 .footer-content{
  flex-direction: column;
  gap: 20px;
}
.footer-content p{
  font-size: 16px;
}
}